In [ ]:
#TODO 1: Read all the data from bc.csv, how many rows is there ? Columns ?

#TODO 2: Insert the bc.csv in the sqlite format.

#TODO 3: In the same db create a new table called tomatch with two variables id_ and rdm_float.

#TODO 4: In the table tomatch insert observations where the id_ starts from 50k, ends at 10000000 and is only even numbers. rdm_float is a float random for each observation.

#TODO 5: Do an Inner join between the two tables and compute the different aggregate functions on a column of your choice.

#TODO 6: How many observations have a radius_mean greater than 15 ? From them how many have a texture_mean greater than 20 ?

In [ ]:
#TODO 1: Read all the data from bc.csv, how many rows is there ? Columns ?

import pandas as pd

df = pd.read_csv("C:/Users/sloua/OneDrive/Desktop/NoSQL-master/NoSQL-master/data/Chap1/bc.csv")
df.head(5)

rows = len(df.axes[0])
cols = len(df.axes[1])
 
print("Number of Rows: ", rows)
print("Number of Columns: ", cols)

Number of Rows:  569
Number of Columns:  33

In [3]:
#TODO 2: Insert the bc.csv in the sqlite format.

import sqlite3

conn = sqlite3.connect('C:/Users/sloua/OneDrive/Desktop/NoSQL-master/NoSQL-master/data/Chap1/bc.db')

df.to_sql('bc', conn, if_exists='replace')

569

In [4]:
#TODO 3: In the same db create a new table called tomatch with two variables id_ and rdm_float.

import csv
import sqlite3

conn = sqlite3.connect('C:/Users/sloua/OneDrive/Desktop/NoSQL-master/NoSQL-master/data/Chap1/bc.db')

c = conn.cursor()

c.execute('CREATE TABLE IF NOT EXISTS tomatch (id_ INTEGER, rdm_float FLOAT)')

In [10]:
#TODO 4: In the table tomatch insert observations where the id_ starts from 50k, ends at 10000000 and is only even numbers. rdm_float is a float random for each observation.

import sqlite3
import random

conn = sqlite3.connect('C:/Users/sloua/OneDrive/Desktop/NoSQL-master/NoSQL-master/data/Chap1/bc.db')
c = conn.cursor()

for i in range(50000, 10000001, 2):
    rdm_float = random.uniform(0.0, 1.0)
    c.execute('INSERT INTO tomatch (id_, rdm_float) VALUES (?, ?)', (i, rdm_float))

conn.commit()
conn.close()

In [13]:
#TODO 5: Do an Inner join between the two tables and compute the different aggregate functions on a column of your choice.

import sqlite3
import pandas as pd

# create a connection to the SQLite database
conn = sqlite3.connect('C:/Users/sloua/OneDrive/Desktop/NoSQL-master/NoSQL-master/data/Chap1/bc.db')

query = """SELECT bc.id, COUNT(*), AVG(tomatch.rdm_float), MAX(bc.radius_mean), MIN(bc.radius_mean)
             FROM bc
             INNER JOIN tomatch ON bc.id = tomatch.id_
             GROUP BY bc.id
             """

df = pd.read_sql_query(query, conn)

# print the resulting DataFrame
print(df)

          id  COUNT(*)  AVG(tomatch.rdm_float)  MAX(bc.radius_mean)  \
0      86208         2                0.324177               20.260
1      86408         2                0.477902               12.630
2      87106         2                0.274538               11.150
3      87164         2                0.232324               15.460
4      87880         2                0.403629               13.810
..       ...       ...                     ...                  ...
238  9113514         2                0.768325                9.668
239  9113538         2                0.741733               17.600
240  9113778         2                0.382886                9.667
241  9113816         2                0.491591               12.040
242  9113846         2                0.753503               12.270

     MIN(bc.radius_mean)
0                 20.260
1                 12.630
2                 11.150
3                 15.460
4                 13.810
..                   ...
238                9.668
239               17.600
240                9.667
241               12.040
242               12.270

[243 rows x 5 columns]

In [12]:
#TODO 6: How many observations have a radius_mean greater than 15 ? From them how many have a texture_mean greater than 20 ?

import sqlite3
import pandas as pd

# create a connection to the SQLite database
conn = sqlite3.connect('C:/Users/sloua/OneDrive/Desktop/NoSQL-master/NoSQL-master/data/Chap1/bc.db')

# execute the SQL query and get the results in a pandas DataFrame
query = '''
SELECT COUNT(*)
FROM bc
WHERE radius_mean > 15 AND texture_mean > 20;
'''
df = pd.read_sql_query(query, conn)

# print the resulting count
print(df)

   COUNT(*)
0       106